.focusable:focus {
    outline: none;
    box-shadow: none !important;
    border: 1px solid transparent;
}

.transHov:hover {
    fill: url(#green-gradient)
}

.hovStroke:hover {
    stroke: url(#green-gradient)
}

.hovFill:hover {
    fill: url(#green-gradient)
}