.title1 {
    font-weight: 600; 
    font-size: 6vw; 
    color: #fff;
    letter-spacing: 0.20em;
}

.title2 {
    font-weight: 100;
    font-size: 2vw; 
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.15em;
}

.title3 {
    font-weight: 700; 
    font-size: 9vw; 
    color: #fff;
    line-height: 90%;
}


.title4 {
    font-weight: 700; 
    font-size: 9vw; 
    background-color: #baff29;
    background-image: linear-gradient(45deg, #baff29 0%, #3fea2f 100%);
    background-clip: text;
    color: transparent;
    line-height: 90%;    
}

.brackets {
    color: #BAFF29;
}

@media (max-width: 575.98px) { 
    .title1 {
        font-size: 9vw
    }

    .title2 {
        font-size: 3vw;
    }

    .logo {
        width: 200px;
    }
 }

 @media (min-width: 576px) { 
     .logo {
         width: 300px;
     }
  }

  @media (min-width: 768px) { 
      .logo {
          width: 350px;
      }
   }

   @media (min-width: 992px) { 
       .logo {
           width: 400px;
       }
    }

    @media (min-width: 1200px) { 
        .logo {
            width: 500px;
        }
     }