* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'Sora', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #0a0a0a !important;
}