* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'Sora', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(90deg, rgb(15, 15, 15) 50%, hsla(0, 0%, 0%, 1) 100%);
}